// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-us {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.about-us .page-header {
  margin-bottom: 20px;
}
